// main: ../../../style.sass

/// Le module Toast permet gérer l'affichage de petites notification
/// dans un coin de l'écran
///
/// Attention : pensez à activer le module Toast
/// dans le fichier assets/js/monobloc.js.
///
/// Exemple de HTML :
///   <footer>
///     <div class="m-toast">
///       <div class="m-toast__content subheading">
///         <?php _e("Mais c'est un Taost ?","monobloc") ?>
///       </div>
///     </div>
///   </footer>

.m-toast
  opacity: 0
  position: fixed
  padding: m() m(1.5)
  background: color('acc')
  border: 3px solid color('acc')
  border-radius: m()
  bottom: $row__mx
  right: $row__mx
  @include box-shadow(10,'grey',100)
  overflow: hidden
  z-index: $zindex__toast
  transition: $fast

.m-toast__content
  opacity: 0
  color: color('txt')
  white-space: nowrap
  transition: $fast
