// main: ../../../style.sass

/// Le layout Frontpage permet de personnalisé l'affichage des modules
/// sur la page d'Accueil
///
/// Exemple de HTML :
/// <main class="l-ftp main" role="main">

.l-ftp

// Stylise la barre de recherche

.l-ftp-top
  position: fixed
  background: color('back')
  z-index: $zindex__top

// Stylise la barre à droite
 
.l-ftp-wrp
  padding-top: m(15)

// Stylise la barre à droite

.l-ftp-asd
  width: 33%

// Stylise les effets hover des liens

.l-ftp-lnk
  @include hover
    padding-left: m(.5) 
    .m-txt-g
      color: color('txt')
    .l-ftp-ico
      opacity: 1

.l-ftp-ico
  transition: 0s all
  svg
    fill: color('txt')
    width: m(1.25)

// Stylise les effets hover des liens

.l-ftp-vhost
  .m-btn-ico
    width: m(2.5)
    height: m(2.5)
  @include hover
    .m-btn-ico
      display: flex